
.name {
    margin: 8px 0px;
    font-size: 20px;
    color: #222;
    font-weight: bold;
}

.team {
    margin: 8px 0px;
    font-size: 20px;
    color: #222;
    font-weight: bold;
}

.nationality {
    margin: 8px 0px;
    font-size: 20px;
    color: #222;
    font-weight: bold;
}

.jersyNumber {
    margin: 8px 0px;
    font-size: 20px;
    color: #222;
    font-weight: bold;
}

.age {
    margin: 8px 0px;
    font-size: 20px;
    color: #222;
    font-weight: bold;
}

